@model SnakeApplication.Models.PlayerProfile;




<div>
    <h3>Name : @Model.player.Name</h3>
    <p>HighScore : @Model.player.Score</p>
    <p>Bucks : @Model.player.Bucks</p>
    <p>Color : @Model.player.Color.ToLower() </p>
    <button onclick="UnEquip()">Use Color</button>
    <div>
        <h3>Owned Items</h3>
    @foreach(var item in Model.items)
    {
        <p> @item.Name </p>
        <img src="@item.ImageUrl" width="100" height="100"/>
        <br />
            <br />
        <button onclick="Equip('@item.Id')">Equip</button>
        <hr />
    }
    </div>
</div>

<script src="/lib/\jquery/dist/jquery.js"></script>

<script>
    function UnEquip() {
        $.post(`Equip?ItemId=-1`, (response, status) => {
            alert(response);
        })
    }

    function Equip(ItemId){
        debugger
        ItemId = parseInt(ItemId)
        $.post(`Equip?ItemId=${ItemId}`, (response,status) => {
            alert(response);            
        })
    }

</script>